<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Academia Quest
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Academia Quest</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="home-icon">AQ</div>
    <h1>Bienvenido a Academia Quest</h1>
    <p>Plataforma de evaluaciones gamificadas</p>
    <a routerLink="/login" class="home-link">Entrar</a>
  </div>
</ion-content>
